html {
    background-color: rgb(59, 59, 59);
    color: white;
    font-family: 'Crete Round', serif;
    font-size: 3rem;
}
.ctx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}