html {
    background-color: rgb(59, 59, 59);
    color: white;
    font-family: 'Crete Round', serif;
}
.ctx {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}